[user]
name = Abhishek Sarkar
email = aksarkar@alum.mit.edu

[push]
default = current
[magit]
	hideCampaign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
