[user]
name = Abhishek Sarkar
email = aksarkar@alum.mit.edu

[push]
default = current

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[init]
defaultBranch = main
